.navbar {
    background: #084E7D !important;
}

.bg-dark {
    background: #084E7D !important;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

#map {
    height: 100%;
}

@media (min-widht: 768px) {
    .card-img-top {
        height: 32vh;
    }

    #map {
        height: 450px;
    }
}